/nbproject/private/
/nbproject/
/app/parameters.yml
/.php_cs.cache
/vendor/
/var/
/app/bootstrap.php.cache
/node_modules/
/.gh-pages/
/yarn.lock
/reboot.sh
/docs/yarn.lock
/.idea/
/app/config/parameters.yml
/.php-cs-fixer.cache
/.env

/public/bundles/
/public/build/
/.phpunit.result.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/tests/config/secrets/prod/prod.decrypt.private.php
/tests/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/tests/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
