/nbproject/private/
/nbproject/
/app/parameters.yml
/.php_cs.cache
/vendor/
/var/
/app/bootstrap.php.cache
/node_modules/
/.gh-pages/
/yarn.lock
/reboot.sh
/docs/yarn.lock
/.idea/
/app/config/parameters.yml
/.php-cs-fixer.cache
/.env

/public/bundles/
/public/build/
